body {
  background: #f9f6e8;
  color: #333;;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  color: white;
  height: 6rem;
  position: fixed; 
  top: 0; 
  width: 100%; 
  padding-left: 2rem;
  display: flex;
  align-items: center;
  z-index:1;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  margin-top: 2rem;
  margin-left: 2rem;
}
h3 {
  font-weight: lighter;
}
input {
  -webkit-appearance: none;
}
input[type=text] {
  width: 100%;
  padding: 4px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  outline: none;
  font-size: 1.1rem;
  font-weight:100;
}
input[type=text]:focus {
  border: 2px solid #555;
}
label {
  font-size: 1.2rem;
}
.formContainer {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
}
.formBox {
  display: flex;
  
}
.box {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: rgba(40, 39, 39, 0.2) 0px 3px 15px;
}
.buttons {
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  max-width: 4rem;
  min-width: 6rem;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}
.buttons:hover {
  opacity: 1;
}
.buttons:focus {
  outline:0;
}
.submitButton {
  background-color: blue;
  
}
.guitarButton {
  background-color: blue;
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.editButton {
  background-color: orange;
  margin-right: 1rem;
}
.deleteButton {
  background-color: red;
}
.fadeIn {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}  
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}  
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}  
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}  
 @-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media only screen and (max-width: 1000px) {
html, body {
  overflow-x:hidden 
} 
.box {
  flex-direction: column;
  align-items:flex-start;
  overflow-x: hidden;
  margin-top: 1rem;
}
h3 {
  margin-top: 0rem;
}
.buttonDiv {
  display: flex;
  flex-direction: column;
  margin: 0rem; 
}

@media only screen and (max-width: 375px) {
  html, body {
    overflow-x:hidden 
  }
  .navbar {
    height: 4rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .buttons {
    padding: 8px;
    min-width: 5.4rem;
  }
  .guitarButton {
    margin-top: 5.4rem;
  }
  .buttonDiv {
    display: flex;
    flex-direction:row;
  }
  .editButton {
    margin-right: 0.5rem;
    
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .formContainer {
    margin-top: 1rem;
  }
  label {
    font-size: 1.1rem;
  }
}
}
